*{
    color: #fff;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(15,18,20);
}

.menu{
    width: 18vw;
    position: fixed;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 15px;
    left: 0;
    border-right: 1px solid rgba(230,230,230,0.3);
    background-color: rgba(0,0,0.9);
    z-index: 10;
}

#logo{
    width: 3.5vw;
    height: 3.5vw;
    top: 1vw;
}

.menu h1,.menu p{
    position: absolute;
    size: 10vw;
    height: 3.5vw;
}

.menu h1{
    left: calc(3.5vw + 20px);
    font-size: 2rem;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.menu p{
    width: 8vw;
    height: 15px;
    font-size: 0.8rem;
    align-content: center;
    text-align: center;
    position: relative;
    left: calc(3.5vw + 10px);
    text-align: left;
    top: -10px;
    opacity: 0.8;
}

#portfolio::after{
    content: "®️";
    color: #fff;
    opacity: 0.7;
}

.selection{
    width: 100%;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    position: relative;
    top: 15%;
    align-items: flex-start;
    height: auto;
    gap: 10px;
}

#navbutton{
    background-color: rgba(255,255,255,0.05);
    width: 100%;
    height: 40px;
    position: relative;
    padding: 10px;
    border-radius: 11px;
    font-weight: 500;
    transition: 0.08s;
    cursor: pointer;
    border: none;
    display: flex;
}

#navbutton img{
    width: 15px;
    height: 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#navbutton a{
    width: 60%;
    height: 100%;
    position: relative;
    left: 15px;
    display: flex;
    text-align: left;
}

.subsec{
    width: 85%;
    height: auto;
    position: relative;
    left: 15%;
}

.subsec button{
    width: 60%;
    height: 38px;
    background: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
}

.subsec button::after{
    content: ">";
    position: absolute;
    right: 50%;
    opacity: 0.4;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    transition: 0.08s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    height: 100%;
    justify-content: center;
    font-weight: bold;
    pointer-events: none;
}

.subsec button:hover{
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.5);
}

.selection button:hover::after{
    opacity: 0.8;
    font-size: 1.1rem;
    transform: translateY(-0.2rem);
}

.account{
    width: calc(100% - 30px);
    height: 8vh;
    position: absolute;
    display: flex;
    padding: 10px;
    bottom: 10px;
    border-radius: 6px;
    background-color: rgba(255,255,255,0.1);
}

.account img{
    position: relative;
    width: 4vh;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    outline: none;
    height: 4vh;
    background-color: rgba(0,0,0,0.5);
    border: none;
    border-radius: 5px;
}

.account button,.account p{
    position: absolute;
    width: 50%;
    height: 40%;
    top: 10px;
    background: none;
    box-sizing: border-box;
    font-size: 1rem;
    border: none;
    text-align: left;
}

.account button{
    left: 25%;
    cursor: pointer;
}

.account p{
    top: 55%;
    left: 25%;
    height: 20%;
    font-size: 0.7rem;
}

/* uh */

.topbar{
    width: 94%;
    display: flex;
    flex-direction: row;
    height: 40px;
    margin: 15px auto;
    margin-top: 15px;
    align-items: center;
}

.topbar h1{
    font-weight: 700;
    height: 100%;
    font-size: clamp(120%, 160%,180%);
    width: 50px;
    text-align: left;
    cursor: pointer;
    display: flex;
    margin: 1.5rem;
    align-items: center;
    justify-content: right;
}

.topbar button{
    height: 100%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    z-index: 10;
    border: none;
    background-color: #1f1f1f;
    color: #fff;
    align-items: center;
    border-radius: 16px;
    padding: 0px 15px;
    font-weight: 500;
    transition: 0.08s;
}

.topbar img{
    height: 40%;
    width: auto;
    opacity: 0.8;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.1s;
}

#sidebar{
    margin-left: 20px;
}

#tick{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(80%,100%,110%);
    width: auto;
    margin-right: 30px;
    opacity: 0.8;
    font-weight: 400;
    margin-left: auto;
}

.topbar img:hover{
    opacity: 1;
}

#cookie{
    position: fixed;
    width: auto;
    height: 20px;
    opacity: 0.9;
    left: 2%;
    bottom: 20px;
    cursor: pointer;
}

.app{
    width: 80vw;
    height: calc(100vh - 50px);
    position: fixed;
    left: 20%;
    top: 50px;
    padding-right: 10%;
    transition: 0.5s;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    z-index: -1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 20vh;
}

.app::-webkit-scrollbar{
    width: 8px;
}
.app::-webkit-scrollbar-track{
    background-color: #1f1f1f;
}

.app::-webkit-scrollbar-thumb{
    background-color: #000;
}

#htitle{
    width: 50%;
    margin: 70px 0px;
    min-height: 40%;
    position: relative;
    height: auto;
    font-size: clamp(40px,50px,60px);
}

.widgets{
    width: 35%;
    min-height: 100px;
    margin-top: 20px;
    left: 50%;
    position: absolute;
    height: 60%;
}

.widgets img{
    width: auto;
    height: 75%;
    margin-bottom: 15px;
    border-radius: 15px;
    filter: drop-shadow(1px 1px 10px #1f1f1f);
}

#widget{
    width: auto;
    height: 20%;
    flex-direction: column;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
    margin-top: auto;
    background-color: rgba(56,152,255,0.8);
    backdrop-filter: blur(10px);
}

#widget p{
    width: 100%;
    height: auto;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#widget h3{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(20px,25px,30px);
}

#utitle{
    width: 50%;
    opacity: 0.7;
    margin-bottom: 50px;
}

#nbutton{
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 500;
    width: auto;
    text-align: center;
    position: relative;
    font-size: clamp(10px,12px,15px);
    height: 2.5rem;
    background-color: #3898ff;
}
#nbutton::after{
    content: "";
    position: absolute;
    font-weight: 500;
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

#nbutton:hover::after{
    content: "•";
}

#utitle::after{
    content: " ©";
}
#title{
    width: 100%;
    display: flex;
    height: clamp(50px,80px,100px);
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-top: 20px;
    box-sizing: border-box;
    font-size: clamp(50%,280%,330%);
}

#uc{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(70%,100%,110%);
    box-sizing: border-box;
    height: clamp(30px,40px,50px);
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 20px;
}

.tags{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 40px;
    margin-top: 25px;
}

#time{
    width: auto;
    height: 100%;
    font-size: 90%;
    font-weight: 500;
}

#genre{
    height: 100%;
    width: auto;
    opacity: 0.7;
    font-size: 85%;
}

#gap{
    width: 100%;
    height: 30px;
}

#desc{
    width: 60%;
    margin: 40px 0;
    line-height: 1.7rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

#subtitle{
    width: 100%;
    height: 50px;
    justify-content: center;
    display: flex;
    margin: 20px 0px;
    align-items: center;
    font-weight: 500;
    font-size: clamp(100%,150%,200%);
}

#vid,#img{
    border-radius: 10px;
    width: 75%;
    margin: 15px 0px;
    margin-left: 50%;
    transform: translateX(-50%);
    height: auto;
}

#cc{
    height: auto;
    width: 75%;
    text-decoration: none;
    display: flex;
    margin: 11px 0px;
    margin-left: 50%;
    transform: translateX(-50%);
    justify-content: flex-start;
    align-items: center;
    font-size: clamp(70%,80%,90%);
}

.selection.open{
    left: -10vw;
}

.app.focus{
    left: 10%;
    width: 90%;
}

.prompt{
    background-color: rgba(55,55,55,0.8);
    width: 15%;
    height: 8%;
    position: fixed;
    left: calc(50% + 4vw);
    top: 85%;
    border-radius: 25px;
    transition: 0.5s;
    z-index: 1000;
    transform: translateX(-50%);
    filter: drop-shadow(1px 1px 3px #000);
    backdrop-filter: blur(5px);
    padding: 10px 20px;
    display: flex;
}

.prompt.focus{
    left: 50%;
}

.prompt:hover{
    width: 20%;
    height: calc(8% + 2px);
}

.prompt input{
    width: 90%;
    height: 100%;
    background: none;
    border: none;
    font-weight: 500;
}

.prompt input::placeholder{
    font-weight: 600;
}

.prompt input:focus{
    outline: none;
}
.prompt img{
    width: 40px;
    object-fit: contain;
    border-radius: 100%;
    aspect-ratio: 1/1;
    background-color: rgba(255,255,255,0.75);
    transform: scale(0.75) translateX(10px);
    margin: 0;
}

@media(max-width: 700px){
    .topbar{
        width: 90%;
        left: 50%;
        z-index: 11;
        position: fixed;
        transform: translateX(-50%);
    }

    .topbar::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(15,15,15);
        filter: blur(10px);
        z-index: 0;
    }

    .topbar h1{
        width: 20%;
        z-index: 10;
        margin-left: auto;
    }
    #sidebar{
        margin-left: auto;
        z-index: 15;
        cursor: pointer;
        position: relative;
    }

    .selection{
        display: flex;
        position: fixed;
        background-color: rgb(5,5,5);
        width: 45%;
        padding: 10px;
        top: calc(50% + 45px);
        height: calc(100% - 45px);
        align-items: flex-start;
        transition: 0.4s;
        z-index: 10;
        justify-content: center;
        left: -45%;
    }

    .selection.open{
        left: 5px;
    }

    #cookie{
        display: none;
    }

    .selection button{
        width: 95%;
    }

    .app{
        width: 90%;
        left: 5%;
        top: 70px;
    }

    .tags{
        width: 90%;
        margin: 0;
        margin-left: 5%;
    }

    #desc{
        width: 90%;
        margin: 10px 0;
        margin-left: 50%;
    }

    .app h1{
        font-size: 40px;
        height: auto;
        text-align: center;
        margin: 10px auto;
    }
    .app h2{
        text-align: center;
        width: 80%;
        margin-left: 10%;
    }

    #img,#vid{
        width: 90%;
    }

    #cc{
        width: 90%;
    }

    #subtitle{
        width: 90%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}